

.modal-backdrop {
  z-index: 1!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: RalewayBold;
  font-weight: 500;
  line-height: 1.1;
  font-size: 25px;
  color: #004371;
}

.modal-header {
  display: block;
}

body {
  font-family: GoldenSans;
  font-size: 15px;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

.modal-header .close {
    margin-top: 0px;
    opacity: .7;
}

.btn-success {
  background-image: linear-gradient(to bottom,#004371 0,#00528a 100%);
}

.btn-success:focus, .btn-success:hover {
    background-color: #025086;
}

.btn-success {
    background-color: #004878;
    border-color: #004878;
}

button, select {
    font-family: RalewayBold;
}

input, textarea {
    font-family: GoldenSans;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.btn-info {
    background-image: none;
    background-color: #fff;
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
  background-color: #fff;
  box-shadow:none;
}

a.animated-button:link, a.animated-button:visited {
  text-shadow:none;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
  text-shadow:none;
}
